*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
h1{
    color: whitesmoke;
    font-family:'IM Fell English SC', serif;
    margin-top: 25px;
    
}

h2 {
    color: whitesmoke;
    font-family: 'IM Fell English SC', serif;
}

img {
    width: 40%;
    padding-top: 12px;
    padding-bottom: 12px;
}


p {
    font-size: 1.5rem;
    color: white;
   
}




.contenedor{
    background: url(./ASSETS/halloween.jpg) no-repeat;
    background-size: 100%S;
    display: grid;
    grid:
    'header header  header  header  header  header' 
    'uno     dos    tres    cuatro  carrito carrito'
    'cinco   seis   siete   ocho    carrito carrito'
    ;
  
}

.header {
    grid-area: header;
    background-color: black;
    color: white;
    text-align: center;
}

.libro1{
    grid-area: uno;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.libro2{
    grid-area: dos;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.libro3{
    grid-area: tres;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.libro4{
    grid-area: cuatro;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}
.libro5{
    grid-area: cinco;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

}

.libro6{
    grid-area: seis;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.libro7{
    grid-area: siete;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}
.libro8{
    grid-area: ocho;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.carrito {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-area: carrito;
    height: 100vh;
   
    
}

.carrito img {
    width: 10%;
    align-self: flex-start;
}


.zoom {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  
  .zoom:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }



@media  (max-width: 1200px) {

    .contenedor{

        display: grid;
        grid:
        'header header' 
        'uno     dos  '  
        'tres    cuatro'  
        'cinco   seis '  
        'siete   ocho '   
        'carrito carrito'
        ;
      
    }

    .carrito {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .carrito img {
       
        width: 15%;
    }
       

    h2 {
        margin-top: 10px;
    }

    img {
        margin-top: 5px;
    }

    button {
        margin-bottom: 35px;
    }


    
    }

  

    


@media  (max-width: 680px) {

    .contenedor{

        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    h1 {
        margin-top: 30px;
    }

    img {
        margin-top: 15px;
    }

    button {
        margin-bottom: 15px;
    }

}


